{% extends 'base.html' %}

{% block main %}
<div id="head">
    <h1 class="header">
		Welcome to NateSoares.com
    </h1>
    <h2 class="subheader">
    </h2>
</div>

<div id="content">
	<p>
		Welcome to my website. This website exists to help me track my projects and to provide a log of my activities.
	</p>
	<p>
		I decided to make this site for a few reasons. One was because I wanted a single place where I can keep track
		of all of my crazy ideas. Another reason was because I have more ideas than I have time to implement, and if
		I give the ideas some public exposure, there's more of a chance that they will get off the ground. Finally, I started
		this site because I think that, when I'm old and crotchety, it will be interesting to look back and see what I was
		thinking.
	</p>
	<p>
		So please, check out my <a href="/projects/">projects</a> and <a href="/writing/">writing archives</a>. If you find a cool
		idea, feel free to take it and implement it. I definitely don't have time to do them all.
	</p>
	<p>
		If you want more information about the technical details of this website, check out
		<a href="/projects/website/">the project representing this website</a>. It contains the code for the page,
		discussions about my design decisions, and some more details, if you're into that sort of thing.
	</p>
</div>
{% endblock %}
