{% extends 'base.html' %}

{% block main %}
<div id="head">
    <h1 class="header">
		An Introduction
    </h1>
    <h2 class="subheader">
    </h2>
</div>

<div id="content">
	<p>
		Welcome. My name is Nathaniel Soares. I'm a Computer Scientist and an Economist, and I hate being bored.
		On this web site you will be able to find out much more about me than I can summarize accurately here, so
		I'm just going to turn you loose on the site. If you're interested in getting your feet wet, I'd start
		by checking out <a href="/projects/social-theory">this project</a>, it's one of my favorites.
	</p>
	<p>
		On the navigation bar, you will find links to things I have written and projects I am working on.
		These things will probably interest you most. If you would like to learn more about me in general,
		you could also check out my <a href="/jobs/">jobs</a> and <a href="/activities/">activities</a>.
	</p>
	<p>
		Also, I provide two r&eacute;sum&eacute;s, one which <a href="/media/pdf/programmer.pdf">focuses on my computer skills</a>,
		and one which is <a href="/media/pdf/well-rounded.pdf">more general</a>. This former does not include my technical theater
		experience, the latter glosses over my computer skills and computer science research goals.
	</p>
	<p>
		If you want to contact me, there's a contact link in the footer of the page. Feel free to send questions,
		suggestions, or helpful tips. I am by no means infallable, and I'm fairly new to this website business &#8212; so if you
		notice that I'm doing something stupid, or that I have a silly typo or mistake, please notify me.
		Any critisism or suggestions are welcome.
	</p>
</div>
{% endblock %}
